# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
<div className="bg-white shadow-2xl z-20  grid grid-flow-rows auto-rows-auto h-auto rounded-lg relative">
                <div className="absolute left-4 top-4 z-30 bg-yellow-primary text-white font-bold rounded-3xl py-1.5 px-5 object-left-top">ACTIVE</div>
                <div className="w-full h-[200px] relative"><Image className="overflow-hidden" src="/featured-img.png" layout="fill" objectFit="fill"/></div>
                <div className="p-12 grid gap-4">
                  <p className="text-3xl font-bold text-left">The Pavilion III</p>
                  <span className="flex items-center gap-2">
                    <Image src="/location.svg" width="20" height="20" />
                    Outer Ring Road, Bangalore
                  </span>
                  <div className="grid grid-flow-col grid-cols-custom gap-5 items-center">
                    <div className="relative">
                      <div className="overflow-hidden h-2 text-xs flex rounded bg-green-faded">
                        <div style={{ width: "100%" }} className="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-secondary"></div>
                      </div>
                    </div>
                    <p className="text-green-secondary font-bold text-left">100% funded</p>
                  </div>
                  <div className="grid grid-flow-col grid-rows-5 gap-y-2 text-sm">
                    <p className="border-b pb-2"><span className="float-left">Area</span><span className="font-bold float-right">52,277</span></p>
                    <p className="border-b pb-2"><span className="float-left">Price psf</span><span className="font-bold float-right">₹12,338</span></p>
                    <p className="border-b pb-2"><span className="float-left">Yield</span><span className="font-bold float-right">9.14%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Return Target</span><span className="font-bold float-right">18.1%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Funding Status</span><span className="font-bold float-right">63%</span></p>
                  </div>
                  <button className="flex justify-center items-center gap-3 bg-yellow-primary text-white font-bold justify-self-start rounded-lg py-4 w-full">Invest now <Image src="/arrow-right.svg" width="15" height="15" /></button>
                </div>
              </div>
              <div className="bg-white shadow-2xl z-20  grid grid-flow-rows auto-rows-auto h-auto rounded-lg relative">
                <div className="absolute left-4 top-4  z-30 bg-yellow-primary text-white font-bold rounded-3xl py-1.5 px-5 object-left-top">ACTIVE</div>
                <div className="w-full h-[200px] relative"><Image className="overflow-hidden" src="/featured-img.png" layout="fill" objectFit="fill"/></div>
                <div className="p-12 grid gap-4">
                  <p className="text-3xl font-bold text-left">The Pavilion III</p>
                  <span className="flex items-center gap-2">
                    <Image src="/location.svg" width="20" height="20" />
                    Outer Ring Road, Bangalore
                  </span>
                  <div className="grid grid-flow-col grid-cols-custom gap-5 items-center">
                    <div className="relative">
                      <div className="overflow-hidden h-2 text-xs flex rounded bg-green-faded">
                        <div style={{ width: "100%" }} className="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-secondary"></div>
                      </div>
                    </div>
                    <p className="text-green-secondary font-bold text-left">100% funded</p>
                  </div>
                  <div className="grid grid-flow-col grid-rows-5 gap-y-2 text-sm">
                    <p className="border-b pb-2"><span className="float-left">Area</span><span className="font-bold float-right">52,277</span></p>
                    <p className="border-b pb-2"><span className="float-left">Price psf</span><span className="font-bold float-right">₹12,338</span></p>
                    <p className="border-b pb-2"><span className="float-left">Yield</span><span className="font-bold float-right">9.14%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Return Target</span><span className="font-bold float-right">18.1%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Funding Status</span><span className="font-bold float-right">63%</span></p>
                  </div>
                  <button className="flex justify-center items-center gap-3 bg-yellow-primary text-white font-bold justify-self-start rounded-lg py-4 w-full">Invest now <Image src="/arrow-right.svg" width="15" height="15" /></button>
                </div>
              </div>
              <div className="bg-white shadow-2xl z-20  grid grid-flow-rows auto-rows-auto h-auto rounded-lg relative">
                <div className="absolute left-4 top-4  z-30 bg-yellow-primary text-white font-bold rounded-3xl py-1.5 px-5 object-left-top">ACTIVE</div>
                <div className="w-full h-[200px] relative"><Image className="overflow-hidden" src="/featured-img.png" layout="fill" objectFit="fill"/></div>
                <div className="p-12 grid gap-4">
                  <p className="text-3xl font-bold text-left">The Pavilion III</p>
                  <span className="flex items-center gap-2">
                    <Image src="/location.svg" width="20" height="20" />
                    Outer Ring Road, Bangalore
                  </span>
                  <div className="grid grid-flow-col grid-cols-custom gap-5 items-center">
                    <div className="relative">
                      <div className="overflow-hidden h-2 text-xs flex rounded bg-green-faded">
                        <div style={{ width: "100%" }} className="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-secondary"></div>
                      </div>
                    </div>
                    <p className="text-green-secondary font-bold text-left">100% funded</p>
                  </div>
                  <div className="grid grid-flow-col grid-rows-5 gap-y-2 text-sm">
                    <p className="border-b pb-2"><span className="float-left">Area</span><span className="font-bold float-right">52,277</span></p>
                    <p className="border-b pb-2"><span className="float-left">Price psf</span><span className="font-bold float-right">₹12,338</span></p>
                    <p className="border-b pb-2"><span className="float-left">Yield</span><span className="font-bold float-right">9.14%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Return Target</span><span className="font-bold float-right">18.1%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Funding Status</span><span className="font-bold float-right">63%</span></p>
                  </div>
                  <button className="flex justify-center items-center gap-3 bg-yellow-primary text-white font-bold justify-self-start rounded-lg py-4 w-full">Invest now <Image src="/arrow-right.svg" width="15" height="15" /></button>
                </div>
              </div>
              <div className="bg-white shadow-2xl z-20  grid grid-flow-rows auto-rows-auto h-auto rounded-lg relative">
                <div className="absolute left-4 top-4  z-30 bg-yellow-primary text-white font-bold rounded-3xl py-1.5 px-5 object-left-top">ACTIVE</div>
                <div className="w-full h-[200px] relative"><Image className="overflow-hidden" src="/featured-img.png" layout="fill" objectFit="fill"/></div>
                <div className="p-12 grid gap-4">
                  <p className="text-3xl font-bold text-left">The Pavilion III</p>
                  <span className="flex items-center gap-2">
                    <Image src="/location.svg" width="20" height="20" />
                    Outer Ring Road, Bangalore
                  </span>
                  <div className="grid grid-flow-col grid-cols-custom gap-5 items-center">
                    <div className="relative">
                      <div className="overflow-hidden h-2 text-xs flex rounded bg-green-faded">
                        <div style={{ width: "100%" }} className="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-secondary"></div>
                      </div>
                    </div>
                    <p className="text-green-secondary font-bold text-left">100% funded</p>
                  </div>
                  <div className="grid grid-flow-col grid-rows-5 gap-y-2 text-sm">
                    <p className="border-b pb-2"><span className="float-left">Area</span><span className="font-bold float-right">52,277</span></p>
                    <p className="border-b pb-2"><span className="float-left">Price psf</span><span className="font-bold float-right">₹12,338</span></p>
                    <p className="border-b pb-2"><span className="float-left">Yield</span><span className="font-bold float-right">9.14%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Return Target</span><span className="font-bold float-right">18.1%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Funding Status</span><span className="font-bold float-right">63%</span></p>
                  </div>
                  <button className="flex justify-center items-center gap-3 bg-yellow-primary text-white font-bold justify-self-start rounded-lg py-4 w-full">Invest now <Image src="/arrow-right.svg" width="15" height="15" /></button>
                </div>
              </div>
              <div className="bg-white shadow-2xl z-20  grid grid-flow-rows auto-rows-auto h-auto rounded-lg relative">
                <div className="absolute left-4 top-4  z-30 bg-yellow-primary text-white font-bold rounded-3xl py-1.5 px-5 object-left-top">ACTIVE</div>
                <div className="w-full h-[200px] relative"><Image className="overflow-hidden" src="/featured-img.png" layout="fill" objectFit="fill"/></div>
                <div className="p-12 grid gap-4">
                  <p className="text-3xl font-bold text-left">The Pavilion III</p>
                  <span className="flex items-center gap-2">
                    <Image src="/location.svg" width="20" height="20" />
                    Outer Ring Road, Bangalore
                  </span>
                  <div className="grid grid-flow-col grid-cols-custom gap-5 items-center">
                    <div className="relative">
                      <div className="overflow-hidden h-2 text-xs flex rounded bg-green-faded">
                        <div style={{ width: "100%" }} className="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-secondary"></div>
                      </div>
                    </div>
                    <p className="text-green-secondary font-bold text-left">100% funded</p>
                  </div>
                  <div className="grid grid-flow-col grid-rows-5 gap-y-2 text-sm">
                    <p className="border-b pb-2"><span className="float-left">Area</span><span className="font-bold float-right">52,277</span></p>
                    <p className="border-b pb-2"><span className="float-left">Price psf</span><span className="font-bold float-right">₹12,338</span></p>
                    <p className="border-b pb-2"><span className="float-left">Yield</span><span className="font-bold float-right">9.14%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Return Target</span><span className="font-bold float-right">18.1%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Funding Status</span><span className="font-bold float-right">63%</span></p>
                  </div>
                  <button className="flex justify-center items-center gap-3 bg-yellow-primary text-white font-bold justify-self-start rounded-lg py-4 w-full">Invest now <Image src="/arrow-right.svg" width="15" height="15" /></button>
                </div>
              </div>
              <div className="bg-white shadow-2xl z-20  grid grid-flow-rows auto-rows-auto h-auto rounded-lg relative">
                <div className="absolute left-4 top-4  z-30 bg-yellow-primary text-white font-bold rounded-3xl py-1.5 px-5 object-left-top">ACTIVE</div>
                <div className="w-full h-[200px] relative"><Image className="overflow-hidden" src="/featured-img.png" layout="fill" objectFit="fill"/></div>
                <div className="p-12 grid gap-4">
                  <p className="text-3xl font-bold text-left">The Pavilion III</p>
                  <span className="flex items-center gap-2">
                    <Image src="/location.svg" width="20" height="20" />
                    Outer Ring Road, Bangalore
                  </span>
                  <div className="grid grid-flow-col grid-cols-custom gap-5 items-center">
                    <div className="relative">
                      <div className="overflow-hidden h-2 text-xs flex rounded bg-green-faded">
                        <div style={{ width: "100%" }} className="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-secondary"></div>
                      </div>
                    </div>
                    <p className="text-green-secondary font-bold text-left">100% funded</p>
                  </div>
                  <div className="grid grid-flow-col grid-rows-5 gap-y-2 text-sm">
                    <p className="border-b pb-2"><span className="float-left">Area</span><span className="font-bold float-right">52,277</span></p>
                    <p className="border-b pb-2"><span className="float-left">Price psf</span><span className="font-bold float-right">₹12,338</span></p>
                    <p className="border-b pb-2"><span className="float-left">Yield</span><span className="font-bold float-right">9.14%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Return Target</span><span className="font-bold float-right">18.1%</span></p>
                    <p className="border-b pb-2"><span className="float-left">Funding Status</span><span className="font-bold float-right">63%</span></p>
                  </div>
                  <button className="flex justify-center items-center gap-3 bg-yellow-primary text-white font-bold justify-self-start rounded-lg py-4 w-full">Invest now <Image src="/arrow-right.svg" width="15" height="15" /></button>
                </div>
              </div>